// ========================================================================
// SETTINGS/COLOR
// ========================================================================

// base

$col-bg             : #fff;
$col-text           : #000;
$col-links          : #fff;
$col-links-hover    : #000;
$col-links-active   : #000;
$col-links-visited  : #000;
$col-borders        : #ccc;

// Brand

$brand-a            : #f00;

// Alerts

$col-info           : #e0ebf0;
$col-warn           : #efac4d;
$col-error          : #dd3522;
$col-success        : #5cb75c;

// Social

$col-facebook       : #3b5897;
$col-twitter        : #00aceb;
$col-google         : #de4e3b;
$col-instagram      : #517fa4;
$col-youtube        : #bd0000;

// Code

$col-html           : #fca140;
$col-css            : #2489ae;
$col-js             : #fac552;
$col-misc           : #737373;
