// ========================================================================
// SETTINGS/LAYOUT
// ========================================================================

$max-width      : 1224px;
$grid-columns   : 12;
$gutter         : spacing(2);
