// ========================================================================
// SETTINGS/SPACINGS
// ========================================================================

$range: 8;
$multiplier : $line-height-px / ($range / 2);

$spacings: ();

@for $i from 1 through $range {
  $ranges: ($i: $multiplier * $i);
  $spacings: map-merge($spacings, $ranges);
}

// To access this map use the following function

// Example usage

// usage
// spacing(4);

@function spacing($value) {
  @return map-get($spacings, $value);
}
