// ========================================================================
// SETTINGS/LAYOUT
// ========================================================================

$max-width      : 1224px;
$grid-columns   : 12;
$gutter-sm      : $line-height-px / 2;
$gutter-lg      : $line-height-px;
