// ========================================================================
// SETTINGS/LAYOUT
// ========================================================================

$max-width      : 1224px;
$grid-columns   : 12;
$gutter         : $line-height-px / 2;
