// ========================================================================
// SETTINGS/MISC
// ========================================================================

$transition-duration    : 250ms;
$transition-timing      : ease-in;
$transition             : all $transition-duration $transition-timing;
$border-radius          : 6px;
