// ========================================================================
// SETTINGS/SPACERS
// ========================================================================

$rhythm       : $line-height-px;
$spacer-start : $rhythm / 4;
$range        : 4;

$spacers: (
  1: $spacer-start
);

@for $i from 1 through $range {
  $ranges: ($i + 1: $spacer-start * ($i + $i));
  $spacers: map-merge($spacers, $ranges);
}
