// 02/TOOLS/MIXINS - CONTAINER

// Usage
// @include container;

@mixin container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $rhythm / 2;
  padding-right: $rhythm / 2;
}
