// ========================================================================
// BASE/LINKS
// ========================================================================

// Set default colour
// Remove the gray background on active links in IE 10.
// Set text decoration

a {
  color: $colour-links;
  background-color: transparent;
  text-decoration: $link-text-decoration;
}
