// ========================================================================
// BASE/TABLES
// ========================================================================

// width - set to 100%
// border-collapse - collapse borders into a single border
// border-spacing - remove distance between the borders of adjacent cells

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
